*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:url("https://media.istockphoto.com/id/1305314060/photo/upper-part-of-a-retro-alarm-clock.jpg?s=612x612&w=0&k=20&c=Cm7ZT8DNgIUAAnws2lf6jT5DSM6MvLySIo0xRNx7ImI=")no-repeat;
    background-size:cover;
}
.clock{
    width:100%;
    max-width:420px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow: 0px 0px 10px #fff;
    height:24vh;
    border-radius:12px;
    padding:20px;
}
h1 {
    font-size: 3.5rem;
    font-weight: 1000;
    color:rgb(237, 233, 112);
}
.clock span{
    position: relative;
    top:-10%;
    margin-left:5px;
    font-size: 20px;
    font-weight:700;
    color:rgb(237, 233, 112);
}